//  Include fonts

//font-family: 'Oswald'
@font-face {
  font-family: 'Oswald-Regular';
  src: url('../fonts/Oswald-Regular.eot?#iefix')
  format('embedded-opentype'),
  url('../fonts/Oswald-Regular.woff')
  format('woff'),
  url('../fonts/Oswald-Regular.ttf')
  format('truetype'),
  url('../fonts/Oswald-Regular.svg#Oswald-Regular')
  format('svg');
  font-weight: normal;
  font-style: normal;
}

//font-family: 'GaramondPremrPro'
@font-face {
  font-family: 'GaramondPremrPro';
  src: url('../fonts/GaramondPremrPro.eot?#iefix')
  format('embedded-opentype'),
  url('../fonts/GaramondPremrPro.woff')
  format('woff'),
  url('../fonts/GaramondPremrPro.ttf')
  format('truetype'),
  url('../fonts/GaramondPremrPro.svg#GaramondPremrPro') format('svg');
  font-weight: normal;
  font-style: normal;
}

//font-family: 'GaramondPremrPro-It'
@font-face {
  font-family: 'GaramondPremrPro-It';
  src: url('../fonts/GaramondPremrPro-It.eot?#iefix')
  format('embedded-opentype'),
  url('../fonts/GaramondPremrPro-It.woff')
  format('woff'),
  url('../fonts/GaramondPremrPro-It.ttf')
  format('truetype'),
  url('../fonts/GaramondPremrPro-It.svg#GaramondPremrPro-It')
  format('svg');
  font-weight: normal;
  font-style: normal;
}

//font-family: 'GaramondPremrPro-Smbd'
@font-face {
  font-family: 'GaramondPremrPro-Smbd';
  src: url('../fonts/GaramondPremrPro-Smbd.eot?#iefix')
  format('embedded-opentype'),
  url('../fonts/GaramondPremrPro-Smbd.woff')
  format('woff'),
  url('../fonts/GaramondPremrPro-Smbd.ttf')
  format('truetype'),
  url('../fonts/GaramondPremrPro-Smbd.svg#GaramondPremrPro-Smbd')
  format('svg');
  font-weight: normal;
  font-style: normal;
}

// Main title style
h1, h2, h3, h4, h5 {
  font-family: $second-font;
}

h2{
  @include fluid-font(16px, 20px, 320px, 2560px);
}

