// subscribe Buttons in form
.btn_arrow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: $third-color;
  transition: 0.3s;
  font-family: $second-font;
  text-transform: uppercase;
  width: 110px;
  font-size: $fourth-font-size;
  position: relative;
  align-self: flex-end;
  justify-self: flex-end;
  padding: 10px;
  background: transparent;
  border: transparent;
  cursor: pointer;



  &:hover{
    color: $text-color;
  }

}
.wpcf7-submit{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $third-color;
  transition: 0.3s;
  font-family: $second-font;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding: 15px 0;
  position: relative;
  font-size: $fourth-font-size;
  border: transparent;
  background: transparent;
  outline: none;
  cursor: pointer;


  &:hover{
    color: $text-color;
  }
}

.send{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: $third-color;
    transition: 0.3s;
    font-family: $second-font;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 15px 0;
    position: relative;
    font-size: $fourth-font-size;
    border: transparent;
    background: transparent;
    outline: none;
    cursor: pointer;

    .wpcf7-submit{
      max-width: 110px;
    }
    &:hover{
      color: $text-color;
    }
  }

.fa-chevron-right{
  position: absolute;
  right: 0;
  font-size: 13px;
}
.btn__wrap{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  @include max-w($screen-lg){
    justify-content: space-between;
  }
}
.btn__calendar{
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: $third-color;
  transition: 0.3s;
  font-family: $second-font;
  text-transform: uppercase;
  width: 110px;
  font-size: $fourth-font-size;
  position: relative;
  align-self: flex-start;
  padding: 10px;
  background: transparent;
  border: transparent;
  cursor: pointer;
  display: none;
  @include max-w($screen-lg){
    display: flex;
  }
  &:hover {
    color: $text-color;
  }
}


.fa-calendar{
  margin-right: 8px;
}


.btn__back{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $third-color;
  transition: 0.3s;
  font-family: $second-font;
  text-transform: uppercase;
  width: 110px;
  font-size: $fourth-font-size;
  position: relative;
  align-self: flex-start;
  justify-self: flex-start;
  padding: 10px;
  background: transparent;
  border: transparent;
  cursor: pointer;

  &:hover{
    color: $text-color;
  }
}

.fa-chevron-left{
  margin-right: 15px;
}











