// All elements Form
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='search'],
input[type='password'],
textarea,
select {
  font-family: inherit;
  width: 100%;
  max-width: 100%;
  background: none;
  outline: 0 none;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}

.my-form{
  border: 2px solid #781241;
  height: 500px;
  width: 488px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  @include max-w($screen-sm){
    width: 290px;
    padding: 15px;
    height: 445px;

  }

}

.form-item{
  height: 53px;
  position: relative;
  border: 1px solid red;
}

.your_name, .email, .subject{
  position: absolute;
  bottom: 0;
  transition: all 0.5s ease-in-out;
}

.name_field{
  height: 30px;
  bottom: 0;
}

.form__field{
  padding: 10px;
position: absolute;
bottom: 0;
width: 500px;
border: 1px solid red;
z-index: 3;

}
.wpcf7-form-control-wrap{
  width: 500px;
}
.message-wrap{
  height: 153px;
  position: relative;
 margin-bottom: 35px;
 @include max-w($screen-sm){
    margin: 0;
 }
}
.message{
  position: absolute;
  top: 21px;
}
#message{
  height: 130px;
  position: absolute;
  bottom: 0;
  border: transparent;
  border-bottom: 1px solid $border-third-color;
  resize: none;

  @include max-w($screen-sm){
    margin: 0;
  }

}


.name_field:focus > .your_name{
 bottom: 50%;
font-size:$fifth-font-size;
color:$fifth-color;
 &:focus{
  border-bottom: 1px solid $border-fourth-color;
  width: 100%;
 }
}
//
//.form__field:focus ~ .email, .form__field:valid ~ .email {
//  bottom: 50%;
//  font-size:$fifth-font-size;
//  color:$fifth-color;
//  &:focus{
//  border-bottom: 1px solid $border-fourth-color;
//  width: 100%;
//
//  }
//}
//
//#email:invalid:not(:focus):not(:placeholder-shown) {
//  background: #ff857b;
//  & + .email {
//    font-size:$fifth-font-size;
//    color:$fifth-color;
//    font-family: $font-family;
//    top: 0;
//  }}
//
//.form__field:focus ~ .subject, .form__field:valid ~.subject{
//  bottom: 50%;
//  font-size:$fifth-font-size;
//  color:$fifth-color;
//  &:focus{
//    border-bottom: 1px solid $border-fourth-color;
//    width: 100%;
//
//  }
//}
//
//#message:focus ~ .message, #message:valid ~ .message {
//  top: 0;
//  font-size:$fifth-font-size;
//  color:$fifth-color;
//  border-color: red;
//  width: 100%;
//  transition: all 0.5s ease-in-out;
//}
