.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  width: 100%;

  @include max-w($screen-md){
    padding-top: 50px;
  }

  &__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 756px;
    padding-bottom: 100px;
    padding-left: $container-padding;
    padding-right: $container-padding;

    @include max-w($screen-md){
      padding-bottom: 50px;
    }
  }

  &__map{
    position: relative;
    width: 100%;
    margin: 100px 0 115px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 430px;

    @include max-w($screen-md){
      margin: 50px 0 225px 0;
    }
  }

  &__marker{
    position: absolute;
    font-size: $font-size;
    color: $third-color;
    bottom: 142px;
    right: 530px;

    @include max-w($screen-md){
      right: 230px;
    }
  }
  #map{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 1140px;
    height: 430px;
    width: 100%;
  }

  &__hours{
    height: 150px;
    width: 250px;
    border: 2px solid $third-color;
    position: absolute;
    right: 40%;
    transform: translateX(50%);
    background-color: $fourth-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 31px;

    @include max-w($screen-md){
      right: 50%;
      bottom: -190px;
      width: 290px;
    }
  }

  .day_hours{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  //start form styles
  &__form{
    position: relative;
    width: 100%;
    height: 730px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include max-w($screen-sm){
      height: 540px;
    }
  }

  &__form_inner{
    max-width: 514px;
    width: 100%;
    height: 527px;
    background-color: $fourth-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include max-w($screen-sm){
      width: 320px;
      height: 475px;
    }
  }
}

.contacts_wrap{
  width: 100%;
  max-width: 1140px;
}
