.details{
  max-width: $container-s-width;
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include max-w($screen-lg){
    padding-top: 50px;
  }
  &__wrapper{
    padding: 50px 0 130px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include max-w($screen-lg){
      justify-content: center;
      padding: 25px 0 30px;
    }
  }
  &__area{
    max-width: 780px;
    width: 100%;
    border-top: 2px solid $border-main-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3px;
  }
  &__item{
    max-width: 768px;
    width: 100%;
    border-top: 1px solid $border-main-color;
    padding-top: 25px;
  }
  &__date{
    height: 75px;
    width: 75px;
    background-color: $third-color;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    float: left;
    padding: 3px;
    margin: 8px 15px 0 0;

  }
  &__image{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 10px;
    float: left;
  }
}



