.page-header{
    width: 100%;
    padding-left: $container-padding;
    padding-right: $container-padding;
    position: absolute;
    top: 38px;
    margin: 0 auto;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
}

.main-nav{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: $second-font;
  font-size: $font-size;
  font-weight: 400;
  text-transform: uppercase;
  width: 455px;
  transition: 0.3s ease;
  z-index: 2;

  @include fluid-font(14px, 20px, 320px, 2560px);

  @include max-w($screen-lg){
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: $container-padding;
    position: fixed;
    top: -38px;
    left: 0;
    padding-top: 55px;
    transform: translateX(-100%);
    height: 100vh;
  }

  &__list{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: $second-font;
    font-size: $font-size;
    font-weight: 400;
    text-transform: uppercase;
    width: 455px;
    transition: 0.3s ease;
    z-index: 2;
    list-style: none;

    @include fluid-font(14px, 20px, 320px, 2560px);

    @include max-w($screen-lg){
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding-left: $container-padding;
      padding-top: 55px;

    }

  }

  .menu-item{

    padding: 2px;
        border-bottom: 2px solid transparent;
        transition: 0.3s;
        position: relative;
        margin: 10px;
        @include max-w($screen-sm) {
        @include fluid-font(18px, 20px, 320px, 2560px);
      }
        &:hover{
          border-bottom: 2px solid $link-color;
        }
  }

  .current-menu-item{
    border-bottom: 2px solid white;
  }
}
