.publications{
  padding: 100px 0 50px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include max-w($screen-lg){
    padding: 50px 0 0;
  }


}
.publication{
  display: flex;
  width: 100%;
  padding: 0 0 50px 0;
  @include max-w($screen-lg){
    padding: 25px 0;
  }
  &__post{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 16px;
    margin-top: 50px;

    @include max-w($screen-md){
      max-width: 768px;
      width: 100%;
      margin-top: 25px;
      padding: 0 3px;
    }

    &:after {
      content: '';
      display: block;
      border-top: 2px solid $border-main-color;
      width: 95%;
      position: absolute;
      top: -4px;
      align-self: center;
      @include max-w($screen-md){
        width: 100%;
      }
    }
  }

  &__post-wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
    border-top: 1px solid $border-main-color;
    width: 100%;
  }

  &__image{
    //max-width: 545px;
    //max-height: 225px;
    overflow: hidden;
    padding-top: 25px;
  }
}


