.subscribe{
  border-top: 2px solid $border-main-color;
  border-bottom: 2px solid $border-main-color;
  max-width: 650px;
  width: 100%;
  padding: 3px 10px;
  margin-bottom: 100px;
  position: relative;

  @include max-w($screen-sm){
    margin-bottom: 50px;
  }

  .wpcf7-mail-sent-ok{
    width: 98%;
    position: absolute;
    top: 30px;
    left: 0;
  }

  .wpcf7-form{
    border-top: 1px solid $border-main-color;
    border-bottom: 1px solid $border-main-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 48px;

    label{
      display: none;
    }

    p{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  }

  .wpcf7-form-control-wrap{
    position: relative;

    &:before{
      content: '';
      display: block;
      background-color: $border-main-color;
      padding: 0.5px;
      height: 55px;
      position: absolute;
      right: 0;
      top: -18px;

      @include max-w($screen-lg){
        top: -20px;
      }

    }

    .wpcf7-not-valid-tip{
      position: absolute;
      bottom: -50px;
      border-color: red;
    }

  }

  &__mail{
    font-size: $font-size;
    border: transparent;
    width: 100%;

    &::placeholder{
      padding: 0;
      font-size: $font-size;
    }
  }

  .wpcf7-validation-errors{
    position: absolute;
    opacity: 0;
  }
}

.form_focus {
  border-color: $border-second-color;
}
.alert{
  border-color: #f00;
}

.submit__wrap{
  position: relative;
  max-width: 225px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $third-color;

  @include max-w($screen-sm){
    width: 50%;
  }

  &:hover{
    color: $text-color;
  }
}
.wpcf7-validation-errors{
  z-index: -1 !important;
  position: absolute !important;
  bottom: -50% !important;
}
